
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');



*{
  margin: 0%;
  padding: 0%;

}

.navicMainDiv{
  position: absolute;
  top: 0%;
  height: 100vh;
  width: 100%;
  background-color: #333333;
}
.particles{
  height: 100vh;
  width: 100%;
}

.navBaricMain{
  position: absolute;
  top: 0%;
  width: 100%;
  height:6vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
}

.navicPosition{
  width: 60%;
  height: 100%;
  opacity: 0.8;
  z-index: 3;

 


}
.navicPosition ul{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  color:azure;
  cursor: pointer;
  background-color: rgb(65, 64, 64);
  font-family: 'Orbitron', sans-serif;

}




.glow {


  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow{
  from{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to{
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
  
}
.prviText{
  position: absolute;
  top: 40%;
  width: 100%;
  height: 30%;
  /* background-color: red; */
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;

}


.ri{
  cursor: pointer;
}

.aboutText{
  position: absolute;
  top: 25%;
  width: 100%;
  height: 40%;
  /* background-color: red; */
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;



}

.skillText{
  position: absolute;
  top: 15%;
  width: 100%;
  height: 65%;
  /* background-color: red; */
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;



}

.portfolioText{
  position: absolute;
  top: 15%;
  width: 100%;
  height: 65%;
  /* background-color: red; */
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;



}
.slike{
  height: 25vh;
  width: 100%;

}






/* Components below 768*/

.navicMainDiv768{

  position: absolute;
  top: 0%;
  height: 100vh;
  width: 100%;
  background-color: #333333;
}









.navBaricMain768{

  position: absolute;
  top: 0%;
  width: 100%;
  height: 38%;
  background-color: rgb(73, 63, 63);
  opacity: 0.6;
  display: none;
  z-index: 2;




}

.navicPosition768{

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;

}

.navicPosition768 ul{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: azure;
}
.bars{
  position: absolute;
  top: 2vh;
  right: 5%;
  z-index: 3;
}


.footer{
  position: absolute;
  bottom:0%;
  width: 100%;
  height: 10%;
  z-index: 2;
  display:flex;
  align-items: center;



}


.footerCon{
  height: 100%;
  width: 50%;




 
}
.footerConRow{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}


.footerColona{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333333;
  opacity: 0.8;

} 
.footerColona a{
  color: azure;
}
.footerColona a:hover{
  color: #ffa500;
  transition: 1200ms;
  transform: scale(0.92);
}
.sviNavLinkovi{
  color: azure;

}

#navicMainDivpage4{
  height: 185vh;
}
#particalesPage4{
  height: 185vh;
  width: 100%;
}

.pad10{
  padding-bottom: 10px;
}


@media only screen and (max-width: 768px) {
  .aboutText{
    position: absolute;
    top: 35%;
    width: 100%;
    height: 40%;
    /* background-color: red; */
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
  
  
  
  }
  #page3navic768{
    height: 120vh;
  }
  .navBaricMain768{
    height: 50vh;
  }


  .btnZ{
    z-index: 10;
  }


 
}

@media only screen and (max-width: 600px){
  .pt{
    font-size: 0.7em;
  }
  #page3navic768{
    height: 145vh;
  }





}

@media only screen and (max-width: 575px){
  #navicMainDivpage4{
    height: 385vh;
    width: 100%;
  }
  #particalesPage4{
    height: 385vh;
    width: 100%;
  }






}




















